* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: gray;
    flex: 1 1 200px;
}

.header h1 {
    display: inline;
    padding-left: 20px;
}

.header nav ul li {
    display: inline;
    padding: 15px;
    float: inline-end;
}

nav ul a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.about-me {
    display: inline-flex;
}

.about-me h2 {
    padding: 10% 2% 10% 0%;
    border-right: 5px solid;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 0px;
    font-size: 50px;
    text-align: center;
}

div p {
padding: 5%;
font-size: 35px;
display: flex;
flex-wrap: wrap;
}

.work {
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.work h2 {
    padding: 10% 2% 10% 0%;
    border-right: 5px solid;
    width: 20%;
    margin-top: 0px;
    margin-bottom: 5%;
    font-size: 50px;
    text-align: center;
}

section img {
    width: 315px;
    height: 315px;
    margin: 5%;
    border: 5px solid blue;
    display: inline-flex;
}

section img:hover {
    border-color: aqua;
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: gray;
}

.Contact-me h2 {
    display: inline;
    padding-left: 20px;
}

.Contact-me ul li {
    display: inline;
    padding: 15px;
    float: right;
    font-size: 20px;
}